<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
    <head>
    
    
        <title>My Pet Calendar</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <img src="../../Imagenes/logo (2).jpg" alt=""/>
        <header th:replace="layout/plantilla :: header"/>
        <div class = "contenido">
            <h1>Crear Usuario</h1>
            <br>
            <form th:action="@{/usuario/guardar}"
                  method="post"
                  th:object="${usuario}">
                <input type="hidden"  name="idUsuario" th:field="*{idUsuario}"/>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" th:field="*{nombre}" >
                <br><!-- comment -->
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" th:field="*{apellidos}">
                <br>
                <label for="correo">Correo</label>
                <input type="text" name="correo" th:field="*{correo}">
                <br/><!-- comment -->
                <label for="contraseña">Contraseña</label>
                <input type="text" name="contraseña" th:field="*{contraseña}"/>
                <br>
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" th:field="*{telefono}"/>
                <br><br>
                <input type="submit" name="guardar" value="Guardar"/>
                <button><a th:href="@{/}">Regresar</button>
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
