<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Mascotas</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="container px4">
           
            <h1 class="px4">  <i class="fa fa-dog"></i>[[#{mascotas.lista}]]</h1>

        </div>
              <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header">
                                 <h4>[[#{mascotas.listadoEliminar}]]</h4>
                            </div>
                            <div th:if="${mascotas != null and !mascotas.empty}">
                                <table class="table table-success table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Mascota </th>
                                            <th th:text="#{mascotas.propietario}">Propietario</th>
                                            <th th:text="#{mascotas.cedulaPro}">Cedula</th>
                                            <th th:text="#{mascotas.nombre}">Nombre</th>
                                            <th th:text="#{mascotas.tipo}">Tipo</th>
                                            <th th:text="#{mascotas.edad}">Edad</th>
                                            <th th:text="#{mascotas.telefono}">Telefono</th>
                                            <th th:text="#{mascotas.direccion}">Direccion</th>
                                            <th th:text="#{accion.actualizar}">Actualizar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mascota, contador : ${mascotas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${mascota.nombrePropietario} + ' ' + ${mascota.apellidosPropietario}]]</td>
                                            <td>[[${mascota.cedula}]] </td>
                                            <td>[[${mascota.nombreMascota}]] </td>
                                            <td>[[${mascota.tipo}]] </td>
                                            <td>[[${mascota.edad}]] </td>
                                            <td>[[${mascota.telefono}]] </td>
                                            <td>[[${mascota.direccion}]] </td> 
                                            <td>
                                                <a th:href="@{/mascota/modificar/} + ${mascota.idMascota}"
                                                   class="btn btn-success">
                                                   <i class="fa fa-pen"></i> [[#{accion.actualizar}]]
                                                </a>
                                                
                                            </td>
                                        </tr>
                                    </tbody>
            
            
            


            <br/>
        </div>
        <footer />
    </body>
</html>
