<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Mascotas</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="container">

            <h1>[[#{mascotas.titulo}]]</h1>

            <div class="row  py-1 mb-2 bg-light">
                <a th:href="@{/mascotas/listado}">
                <button class="btn btn-primary btn-block "> [[#{mascotas.lista}]]</button>  </a>                                      
            </div>
            <div class="row  py-1 mb-2 bg-light">
                <a th:href="@{/mascotas/listadoEliminar}">
                <button class="btn btn-primary btn-block "> [[#{accion.eliminar}]]</button>  </a>                                      
            </div>
            <div class="row  py-1 mb-2 bg-light">
                <a th:href="@{/mascota/nuevo}">
                <button class="btn btn-primary btn-block "> [[#{accion.agregar}]]</button>  </a>                                      
            </div>
            <div class="row  py-1 mb-2 bg-light">
                <a th:href="@{/mascota/listadoEditar}">
                <button class="btn btn-primary btn-block "> [[#{accion.actualizar}]]</button>  </a>                                      
            </div>



            <br/>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
