<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>My Pet Calendar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class = "contenido">
            <h2>Inicio De Sesión</h2>
            <div >
                <label>Usuario o Correo</label>
                <br/>
                <input type="text" name="correo"/>
                <br/>
                <label>Contraseña</label><br/>
                <input type="password" name="contraseña" /> 
                <br/>
                <br/>
                <input type="submit" name="iniciar" value="Iniciar"/>
                <br/>
                <a class="nav-menu-item nav-menu-link nav-link" th:href="@{/usuario/nuevo}">Si aún no tienes cuenta registrate aquí</a>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>F
    </body>
</html>




